.checkoutProducts {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
.checkoutProducts_info {
  padding-left: 20px;
}
.checkoutProducts_info > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  padding: 4px 6px;
  border-radius: 0.3em;
}
.checkoutProducts_info > button:hover {
  background-color: #dfaf37;
}
.checkoutProducts__image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}
.checkoutProduct_rating {
  display: flex;
}
.checkProduct_title {
  font-size: 17px;
  font-weight: 650;
}
